{% extends 'base_generic.html' %}

{% block content %}
<div class="jumbotron">
  <div class="container text-center">
    <h1>The Monster Hunter's Guild</h1>
    <h3>モンスターハンターズギルド</h3>
  </div>
</div>

<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-lg-3">
      <p class="logoTitle">MHWorld</p>
      {% load static %}
      <a href="/world/"><img src="{% static 'images/MHWorld.jpeg' %}" class="img-responsive logo" alt="MHWorld"></a>
    </div>
    <div class="col-lg-3">
      <p class="logoTitle">MHGen</p>
      {% load static %}
      <a href=""><img src="{% static 'images/MHGen.jpeg' %}" class="img-responsive logo" alt="MHGen"></a>
    </div>
    <div class="col-lg-3">
      <p class="logoTitle">MH4U</p>
      {% load static %}
      <a href=""><img src="{% static 'images/MH4U.jpeg' %}" class="img-responsive logo" alt="MH4U"></a>
    </div>
    <div class="col-lg-3">
      <p class="logoTitle">MH3U</p>
      {% load static %}
      <a href=""><img src="{% static 'images/MH3U.png' %}" class="img-responsive logo" alt="MH3U"></a>
    </div>
    <hr></hr>
  </div>
</div>
{% endblock %}

</body>
</html>
