<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}
  <title>Monster Hunter's Guild</title>
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- prepare static assets (js, css, imgs) -->
  {% load static %}

  <!-- Add additional JS from static files -->
  <script src="{% static 'js/scripts.js' %}"></script>

  <!-- Add additional CSS from static files -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
	
	<!-- favicon information & variations -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'favicons/manifest.json' %}">
	<link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">

</head>

<body>
  {% block header %}
  <!-- Page header -->
  <header class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<a href="/"><img class="header-banner" src="{% static 'images/banner.svg' %}" alt="Header Banner"></a>
			</div>
			<div class="col-sm-6"></div>
		</div>
  </header>
  {% endblock %}

  {% block navbar %}
  <!-- Navbar -->
  <nav class="navbar navbar-inverse menu">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="navHead" href="/" style="float:left">
          <span class="glyphicon glyphicon-home"></span>
          Home
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/calculator/">Calculator</a></li>
          <li><a href="/monsters/">Monsters</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Weapons
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/weapons/">Overview</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Light</li>
              <li><a href="/weapons/sword-shield/">Sword and Shield</a></li>
              <li><a href="/weapons/dual-blades/">Dual Blades</a></li>
              <li><a href="/weapons/longsword/">Longsword</a></li>
              <li><a href="/weapons/light-bowgun/">Light Bowgun</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Heavy</li>
              <li><a href="/weapons/greatsword/">Greatsword</a></li>
              <li><a href="/weapons/hammer/">Hammer</a></li>
              <li><a href="/weapons/lance/">Lance</a></li>
              <li><a href="/weapons/gunlance/">Gunlance</a></li>
              <li><a href="/weapons/heavy-bowgun/">Heavy Bowgun</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Technical</li>
              <li><a href="/weapons/hunting-horn/">Hunting Horn</a></li>
              <li><a href="/weapons/switch-axe/">Switch Axe</a></li>
              <li><a href="/weapons/charge-blade/">Charge Blade</a></li>
              <li><a href="/weapons/insect-glaive/">Insect Glaive</a></li>
              <li><a href="/weapons/bow/">Bow</a></li>
            </ul>
          </li>
          <li><a href="/armors/">Armors</a></li>
          <li><a href="/items/">Items</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
				<a class="navbar-brand" id="nav-github" href="https://github.com/Trambus/MHW-Guild">
					<span class="glyphicon glyphicon-chevron-left"></span>
					Github
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
      </div>
    </div>
  </nav>
  {% endblock %}

  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

  {% block footer %}
  <footer class="container-fluid text-center">
    <p>MH Guild © 2017</p>
  </footer>
  {% endblock %}

</body>
</html>
