.jumbotron {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgb(25,25,25);
  color: snow;
  box-shadow: 1px 1px 10px grey;
}

.logoTitle {
  padding-top: 10%;
  font-size: 20px;
}


.logo {
  position: relative;
  display: inline-block;
  width: 300px;
  min-width: 300px;
  height: 180px;
  min-height: 180px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 5px 5px 10px grey;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.logo:hover {
  -webkit-transform: scale(1.08, 1.08);
  transform: scale(1.08, 1.08);
}

footer {
  padding-top: 5%;
}
