{% extends 'world_base.html' %}

{% block content %}
<!-- page title & countdown timer -->
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center">
      <h1>The Monster Hunter's Guild</h1>
      <h3>モンスターハンターズギルド</h3>
      <hr></hr>
      <div class="col-sm-3 text-center">
        <p id="days" class="countdownTimer"></p>
        <p class="countdownText">Days</p>
      </div>
      <div class="col-sm-3 text-center">
        <p id="hours" class="countdownTimer"></p>
        <p class="countdownText">Hours</p>
      </div>
      <div class="col-sm-3 text-center">
        <p id="minutes" class="countdownTimer"></p>
        <p class="countdownText">Minutes</p>
      </div>
      <div class="col-sm-3 text-center">
        <p id="seconds" class="countdownTimer"></p>
        <p class="countdownText">Seconds</p>
      </div>
      <p class="countdownText2">Until Monster Hunter World's Console Release!</p>
      <hr></hr>
    </div>
    <div class="col-sm-3"></div>
    </div>
  </div>
</div>

<!-- accordian menu -->
<div class="container-fluid">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        <h4 class="panel-title"><span class="glyphicon glyphicon-plus"></span> Calculator</h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        <h4 class="panel-title"><span class="glyphicon glyphicon-plus"></span> Monsters</h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        <h4 class="panel-title"><span class="glyphicon glyphicon-plus"></span> Weapons</h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        <h4 class="panel-title"><span class="glyphicon glyphicon-plus"></span> Armors</h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        <h4 class="panel-title"><span class="glyphicon glyphicon-plus"></span> Items</h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
        <h4 class="panel-title"><span class="glyphicon glyphicon-plus"></span> Contact</h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-2"></div>
</div>
{% endblock %}
